certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
requests==2.18.4
setupfiles==0.0.50
SQLAlchemy==1.1.13
urllib3==1.22
Werkzeug==0.12.2
WTForms==2.1
nltk==3.2.4
tensorflow-tensorboard==0.1.6
